.containerAbout {
  margin-bottom: 10px;
  line-height: 1.6;
  color: #ffa101;
  font-size: 1.5rem;
  font-weight: 500;
}

.textPresentation {
  top: 175px;
  left: 20px;
  margin-top: 10px;
  line-height: 1.5;
  width: 91%;
  padding: 0.5rem;
}

.teamAbout {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 390px) {
  .containerAbout {
    position: relative;
  }
}
